<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div align="center">
    <h2>Exit</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Role</th>
        </tr>
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastname()}"></td>
            <td>
                <div th:each="role : ${user.getRoles()}">
                    <p th:text="${role.getRole()}"></p>
                </div>
            </td>
        </tr>
    </table>
    <a th:href="@{/logout}">Exit</a>
    <br/>
</div>
</body>
</html>
